<Blazored.Modal.CascadingBlazoredModal DisableBackgroundCancel="true">
<style>


        .highlight {
            position: fixed;
            background-color: rgba(1, 1, 255, 0.3);
            z-index: 99;
        }

            .highlight:hover {
                background-color: rgba(100, 100, 255, 0.3);
            }

        .texbox-wrapper {
        }


        .text-box {
            /*position: absolute;*/
            height: 100%;
            width: 100%;
            padding: 30px;
        }

        .note-container {
            position: absolute;
            left: 0;
            top: 0;
        }


        .button-action {
            margin: 2px;
            border-radius:3px;
            font-size:15px;
            color: #fff;
            background-color: #111111;
            border-color: #000000;
        }

        .left-arrow-button {
            background-color: #007bff;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
        }

            .left-arrow-button::before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid white;
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
            }

        .right-arrow-button {
            background-color: #007bff;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
        }

            .right-arrow-button::before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid white;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }

        .book-analysis-listing {
            margin:5px;
            width: 50%;
            padding: 10px;
            border: 2px solid darkblue;
            border-radius:5px;
            background-color:lightgray;
        }

        .text-box-bar {
            position: fixed;
            bottom: 0;
            right: 0%;
            width: 20%;
            height: 15%;
            background-color: #666666;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            /*transform: translateX(-50%);
            z-index: 100; /* Ensure it's above other content */*/
        }

            /* Adjust the styling as needed */
            .text-box-bar ul {
                list-style: none;
                padding: 0;
            }

                .text-box-bar ul li {
                    display: inline;
                    margin: 0 20px;
                }

                    .text-box-bar ul li a {
                        text-decoration: none;
                        color: #fff;
                    }

        .context-Menu {
            z-index: 999;
            display: none;
            position: fixed;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            padding: 5px;
            bottom: 0px;
            right: 0px;
            width: 20%; /* 20% width of the entire page width */
            height:auto;
            align-items: center; /* Vertical alignment */
            justify-content: center; /* Horizontal alignment */
        }

            .context-Menu ul {
                list-style: none;
                padding: 0;
            }

                .context-Menu ul li {
                    display: inline;
                    margin: 0 20px;
                }

                    .context-Menu ul li a {
                        text-decoration: none;
                        color: #fff;
                    }

        .tag-item {
            display: inline-block;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-paragraph-note {
            position: absolute;
            display: none;
            z-index: 9999;
            width: 40px; /* Adjust the width and height as needed */
            height: 40px;
            background-color: #007bff; /* Change the background color to your desired color */
            color: #fff; /* Change the text color to your desired color */
            text-align: center;
            line-height: 40px; /* Vertically center the text */
            font-size: 24px; /* Adjust the font size as needed */
            cursor: pointer;
            border: none;
        }

            .add-paragraph-note:hover {
                background-color: #0056b3; /* Change the background color on hover */
            }


        .vertical-bar-2 {
            position: fixed; /* Fixed position to keep it on the screen */
            top: 0; /* Align it to the top of the screen */
            right: 11%; /* 10px margin from the right */
            width: 10%; /* 20% width of the entire page width */
            height: 100%; /* Full height of the screen */
            background-color: #0056b3; /* Background color for the vertical bar */
            color: #fff;
        }

        .note-holder {
        width: 100%;
            height: fit-content;
            max-height: 20%;
            padding: 5px;
            margin: 0 auto;
            background-color: #FFFFE0;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            overflow-y: auto;
            overflow-x: clip;
            word-wrap: break-word;
}

        .paragraphSelection {
                        position: fixed;
                                border: 1px solid #000;
                    border-radius: 5px;
            background-color: rgba(1, 1, 255, 0.1);
                    z-index: 99;
                    pointer-events: none; 
        }
</style>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</Blazored.Modal.CascadingBlazoredModal>  