@using Blazored.Modal
@using Blazored.Modal.Services
@using BookApp.Client.Components.Notes
@using BookApp.Client.Services
@using BookApp.Client.Services.Interfaces
@using BookApp.Shared
@using BookApp.Shared.Models.ClientModels
@using BookApp.Shared.Models.ClientModels.Notes
@using BookApp.Shared.Models.Services
@using EpubSharp
@using System.Web
@using System.Xml
@using static System.Net.Mime.MediaTypeNames
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@using BookApp.Client.Components

@inject IBookAnalysisClientService _bookAnalysisClientService
@inject IHighlightClientService _highlightClientService
@inject IJSRuntime jsRuntime
@inject ITagClientService _tagService
@inject IModalService Modal

<style>
    .highlight {
    position: absolute;
    background-color: rgba(1, 1, 255, 0.8);
    z-index:998;
    transition: zoom 0.2s;
}

    .small-window-2 {
            position:absolute;
              /*margin-top: 5%;
              margin-bottom: 5%;*/
             /* margin-right: 5%;
              margin-left: 5%;*/
              background-color:ghostwhite;
              width: 50%;
              margin: 0 auto;
    }

        .highlight-window-2 {
            position:absolute;

      background-color: rgba(255, 1, 0, 0.8);
      z-index:997
    }

        .note-container {
          position: absolute;
      left: 0;
      top: 0;
    }

.add-paragraph-note{
    position:absolute;
    display:none;
    z-index:9999;
    width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  background-color: #007bff; /* Change the background color to your desired color */
  color: #fff; /* Change the text color to your desired color */
  text-align: center;
  line-height: 40px; /* Vertically center the text */
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer;
  border: none;
}

.add-paragraph-note:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.vertical-bar {
  position: fixed; /* Fixed position to keep it on the screen */
  top: 0; /* Align it to the top of the screen */
  right: 0%; /* 10px margin from the right */
  width: 10%; /* 20% width of the entire page width */
  height: 100%; /* Full height of the screen */
  background-color: #0056b3; /* Background color for the vertical bar */
  color: #fff;
}

    .vertical-bar-2 {
      position: fixed; /* Fixed position to keep it on the screen */
      top: 0; /* Align it to the top of the screen */
      right: 11%; /* 10px margin from the right */
      width: 10%; /* 20% width of the entire page width */
      height: 100%; /* Full height of the screen */
      background-color: #0056b3; /* Background color for the vertical bar */
      color: #fff;
    }


    @if (css != null)
    {
        @foreach (EpubTextFile txt in css)
        {
            @(new HtmlString(txt.TextContent))
        }
    }

</style>


<div id="textContainer" @onmouseup="GetSelectedText" @ref="textContainerRef" class="small-window-2">
    @if(html is not null)
    {
        @((MarkupString)html[currentCount].TextContent)
    }
</div>

<div id="highlightContainer"></div>

@*<div id="noteContainer" class="note-container"></div>*@

<div id="overlay" @ref="overlayElementRef" class="highlight-window-2"></div>


@if (isLoading)
{
    <p>Uploading...</p>
}
else
{

<div id="contextMenu" @ref="contextMenuRef" class="context-Menu">
            @if (currentHighlight != null)
            {
                <p>Current Highlight Id: @currentHighlight.Id</p>
            }
            @if (currentHighlightId != null)
            {
                <p>currentHighlightId: @currentHighlightId</p>
            }
            <hr />
            <button class="button-action" @onclick="DeleteHighlight">Delete</button>
            <button class="button-action" @onclick="ReApplyHighlight">Reapply Highlight</button>
            <hr />
            @if (currentHighlight != null)
            {
                <p>Current Tags: </p>
                @foreach (var tag in currentHighlight.Tags)
                {
                    <li class="tag-item" @onclick="() => RemoveTag(tag.Id)">@tag.Name</li>
                }
            }
            <hr />
            <p>Add Tag: </p>
            <input type="text" @onchange="FilterTags" placeholder="Search Tags..." class="form-control" />
            @foreach (var tag in filteredTags)
            {
                <li class="tag-item" @onclick="() => AddTag(tag.Id)">@tag.Name</li>
            }
<hr />

<p>Create new note:</p>
<EditForm Model="@NewHighlightNote" OnValidSubmit="@CreateNewHighlightNote">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="NewHighlightNote!.Content" />
    <button type="submit">Submit</button>
</EditForm>

<p>Create new tag:</p>
<EditForm Model="@NewTag" OnValidSubmit="@CreateNewTag">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="NewTag!.Name" />
    <button type="submit">Submit</button>
</EditForm>

</div>
}

<button @ref=addParagraphNoteRef class="add-paragraph-note" @onclick="ShowAddParagraphNoteModal">+</button>

<div id="noteContainer" class="vertical-bar">
<h3>Notes:</h3>
@if(currentHighlight is not null)
{
    foreach(HighlightNoteModel note in currentHighlight.Notes)
    {
        <hr />
        <p>@note.Content</p>
        <button class="button-action">Edit</button>
        <button class="button-action">Delete</button>
    }
}
</div>

<div id="noteContainer" class="vertical-bar-2">
        <h3>Paragraph Notes:</h3>
        @foreach (ParagraphNoteModel note in GetCurrentParagraphNotes())
        {
            <hr />
            <p>@note.Content</p>
            <button class="button-action">Edit</button>
            <button class="button-action">Delete</button>
        }
        <hr /><hr />

        <h3>Chapter Notes:</h3>
        @foreach (ChapterNoteModel note in bookAnalysis.ChapterNotes.Where(n => n.ChapterNumber == currentCount))
        {
            <hr />
            <p>@note.Content</p>
            <button class="button-action">Edit</button>
            <button class="button-action">Delete</button>
        }
        <hr /><hr />

        <h3>Analysis Notes:</h3>
        @foreach (AnalysisNoteModel note in bookAnalysis.AnalysisNotes)
        {
            <hr />
            <p>@note.Content</p>
            <button class="button-action">Edit</button>
            <button class="button-action">Delete</button>
        }
</div>

<div class="text-box-bar">
    <button class="button-action" @onclick="ShowAddChapterNoteModal">Add Chapter Note</button>
    <button class="button-action" @onclick="ShowAddAnalysisNoteModal">Add Analysis Note</button>

    <button class="button-action" @onclick="CreatePermanentHighlight">Create Permanent Highlight</button>
    <button class="button-action" @onclick="AddNote">Add Note</button>
    <button class="button-action" @onclick="Refresh">Refresh</button>

    <div class="row">
        <div class="col">
            <button class="left-arrow-button" @onclick="() => ChangePage(-1)"></button>
        </div>
        <div class="col">
            <p role="status">Current count: @currentCount</p>
        </div>
        <div class="col">
            <button class="right-arrow-button" @onclick="() => ChangePage(1)"></button>
        </div>
    </div>
</div>

@code{
    
    public TagModel? NewTag { get; set; } = new();
    private List<TagModel> Tags = new();
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 32;
    private int maxAllowedFiles = 3;
    private bool isLoading = true;
    private byte[] fileByteArray;
    private bool loadingCurrentHighlight = true;

    [Parameter]
    public EpubBook book { get; set; }

    [Parameter]
    public BookAnalysisModel bookAnalysis { get; set; }



    private DotNetObjectReference<TextBox> dotNetRef;
    private ElementReference textContainerRef;
    private ElementReference contextMenuRef;
    private ElementReference overlayElementRef;
    private ElementReference highlightContainerRef;
    private ElementReference addParagraphNoteRef;

    public string currentHighlightId = string.Empty;
    private HighlightModel? currentHighlight = null;

    public string text;
    List<EpubTextFile> html;
    ICollection<EpubTextFile> css;
    ICollection<EpubByteFile> images;
    ICollection<EpubByteFile> fonts;
    public string selectedText = "none";
    bool editFlag = false;

    HighlightModel highlight;

    private int currentCount = 2;

    public List<string> overlays = new();

    public int lastClickedTextNodeIndex = -1;


    #region Tags
    private string tagSearchKeyword = "";
    private List<TagModel> filteredTags = new();
    private void FilterTags(ChangeEventArgs e)
    {
        tagSearchKeyword = e.Value.ToString();
        Console.WriteLine("current: " + e.Value);
        filteredTags = string.IsNullOrWhiteSpace(tagSearchKeyword)
            ? bookAnalysis.Tags
            : bookAnalysis.Tags.Where(t => t.Name.Contains(tagSearchKeyword, StringComparison.OrdinalIgnoreCase)).ToList();
    }

    async Task CreateNewTag()
    {
        if(NewTag is not null)
        {
            var response = await _tagService.CreateNewTag(NewTag, bookAnalysis.Id);
            if(response.IsSuccessStatusCode)
            {
                var newTag = await HelperService.ReadServiceResponse<TagModel>(response);
                bookAnalysis.Tags.Add(newTag);
                NewTag = new();
            }
        }
    }

    async Task RemoveTag(int tagId)
    {
        if (!currentHighlight.Tags.Any(t => t.Id == tagId))
        {
            return;
        }

        var resposne = await _tagService.RemoveTag(tagId, HighlightModel.GetElementId(currentHighlightId));
        if(resposne.IsSuccessStatusCode)
        {
            var tagToRemove = currentHighlight.Tags.FirstOrDefault(t => t.Id == tagId);
            if(tagToRemove is not null)
            {
                currentHighlight.Tags.Remove(tagToRemove);
                StateHasChanged();
            }
        }
    }

    async Task AddTag(int tagId)
    {
        if (currentHighlight.Tags.Any(t => t.Id == tagId))
        {
            return;
        }

        var resposne = await _tagService.AddTag(tagId, HighlightModel.GetElementId(currentHighlightId));
        if(resposne.IsSuccessStatusCode)
        {
            var tagToAdd = bookAnalysis.Tags.FirstOrDefault(t => t.Id == tagId);
            if(tagToAdd is not null)
            {
                currentHighlight.Tags.Add(tagToAdd);
            }
        }
    }

    async Task LoadTags()
    {
        var response = await _tagService.GetTags(bookAnalysis.Id);
        var serviceResponse = await response.Content.ReadFromJsonAsync<ServiceResponse<List<TagModel>>>();
        Tags = serviceResponse.Content;
    }
    #endregion

    #region Notes
    #region HighlightNotes
    public HighlightNoteModel NewHighlightNote { get; set; } = new();

    async Task CreateNewHighlightNote()
    {
        if (currentHighlight is not null)
        {
            NewHighlightNote.HighlightId = currentHighlight.Id;
            NewHighlightNote.BookAnalysisId = bookAnalysis.Id;

            var response = await _highlightClientService.AddHighlightNote(NewHighlightNote);
            var newNote = await HelperService.ReadServiceResponse<HighlightNoteModel>(response);
            currentHighlight.Notes.Add(newNote);
        }
    }
    #endregion

    #region ParagraphNotes
    private async Task ShowAddParagraphNoteModal()
    {
        var parameters = new ModalParameters()
            .Add(nameof(AddParagraphNoteComponent.ParagraphNotes), bookAnalysis.ParagraphNotes)
            .Add(nameof(AddParagraphNoteComponent.pageNumber), currentCount)
            .Add(nameof(AddParagraphNoteComponent.textNodeIndex), lastClickedTextNodeIndex)
            .Add(nameof(AddParagraphNoteComponent.bookAnalysisId), bookAnalysis.Id);

        var options = new ModalOptions() { DisableBackgroundCancel = true };
        var modal = Modal.Show<AddParagraphNoteComponent>("Add Paragraph Note", parameters, options);
        var result = await modal.Result;
    }

    List<ParagraphNoteModel> GetCurrentParagraphNotes()
    {
        return bookAnalysis.ParagraphNotes.Where(p => p.TextNodeNumber == lastClickedTextNodeIndex && p.PageNumber == currentCount).ToList();
    }
    #endregion

    #region AnalysisNotes
    private async Task ShowAddAnalysisNoteModal()
    {
        var parameters = new ModalParameters()
            .Add(nameof(AddAnalysisNoteComponent.AnalysisNotes), bookAnalysis.AnalysisNotes)
            .Add(nameof(AddAnalysisNoteComponent.bookAnalysisId), bookAnalysis.Id);

        var options = new ModalOptions() { DisableBackgroundCancel = true };
        var modal = Modal.Show<AddAnalysisNoteComponent>("Add Analysis Note", parameters, options);
        var result = await modal.Result;
    }

    #endregion

    #region ChapterNotes
    private async Task ShowAddChapterNoteModal()
    {
        var parameters = new ModalParameters()
            .Add(nameof(AddChapterNoteComponent.ChapterNotes), bookAnalysis.ChapterNotes)
            .Add(nameof(AddChapterNoteComponent.pageNumber), currentCount)
            .Add(nameof(AddChapterNoteComponent.bookAnalysisId), bookAnalysis.Id);

        var options = new ModalOptions() { DisableBackgroundCancel = true };
        var modal = Modal.Show<AddChapterNoteComponent>("Add Chapter Note", parameters, options);
        var result = await modal.Result;
    }


    #endregion

    #endregion

    

    void Refresh()
    {
        StateHasChanged();
    }

    

    async Task AddNote()
    {
        await jsRuntime.InvokeVoidAsync("addNote");
        //await notesService.CreateNote();
    }

    async Task ReApplyHighlight(MouseEventArgs e)
    {
        editFlag = true;
        await GetSelectedText(e);

        //await CreatePermanentHighlight();
        //await DeleteHighlight();
    }

    async Task DeleteHighlight()
    {
        var highlightToRemove = bookAnalysis.Highlights.FirstOrDefault(s => s.GetElementId() == currentHighlightId);
        if (highlightToRemove is not null)
        {
            var response = await _highlightClientService.DeleteHighlight(highlightToRemove.Id);
            if (true)
            {
                await jsRuntime.InvokeVoidAsync("deletePernamentHighlight", currentHighlightId, highlightToRemove.NodeCount);
                bookAnalysis.Highlights.Remove(highlightToRemove);
            }
        }
    }

    async Task GetSelectedText(MouseEventArgs e)
    {
        var selectionRange = await jsRuntime.InvokeAsync<object>("getSelectedTextNodeIndex", textContainerRef);
        string items = selectionRange.ToString();


        if (items != "-1")
        {
            //if (editFlag)
            //{
            //    editFlag = false;
            //    var newSelection = new HighlightModel(items, currentCount);
            //    var editedSelection = bookAnalysis.Highlights.FirstOrDefault(s => s.ElementId == currentHighlightId);
            //    editedSelection.Update(newSelection);
            //    _bookAnalysisClientService.UpdateBookAnalysis(bookAnalysis);
            //    await jsRuntime.InvokeVoidAsync("deletePernamentHighlight", currentHighlightId, editedSelection.NodeCount);
            //    //await jsRuntime.InvokeVoidAsync("createHighlight2", "textContainer", editedSelection.FirstNodeIndex, editedSelection.FirstNodeCharIndex, editedSelection.LastNodeIndex, editedSelection.LastNodeCharIndex, objRef, editedSelection.ElementId);
            //}

            //else 
            highlight = new HighlightModel(bookAnalysis.Id, currentCount, items);
        }
        //await jsRuntime.InvokeVoidAsync("highlightText.init", textContainerRef);
    }

    private async Task CreatePermanentHighlight()
    {
        if (highlight is not null && highlight?.PageNumber == currentCount)
        {
            var elementId = highlight.GetElementId();
            await jsRuntime.InvokeVoidAsync("createHighlight2", "textContainer", highlight.FirstNodeIndex, highlight.FirstNodeCharIndex, highlight.LastNodeIndex, highlight.LastNodeCharIndex, dotNetRef, elementId);


            var response = await _highlightClientService.AddHighlight(highlight); //should return the new highlight
            if(response.IsSuccessStatusCode)
            {
                var newHighlight = await HelperService.ReadServiceResponse<HighlightModel>(response);
                bookAnalysis.Highlights.Add(newHighlight);
            }

        }
    }

    [JSInvokableAttribute("onTextNodeClick")]
    public async void onTextNodeClick(int lastSelectedNodeIndex, object left, object top)
    {
        lastClickedTextNodeIndex = lastSelectedNodeIndex;
        await jsRuntime.InvokeVoidAsync("setAddParagraphNotePosition", left, top, addParagraphNoteRef);
        StateHasChanged();
    }

    [JSInvokableAttribute("onPernamentHighlightClick")]
    public async void onPernamentHighlightClick(string idToString)
    {
        currentHighlightId = idToString;
        currentHighlight = bookAnalysis.Highlights.FirstOrDefault(h => h.GetElementId() == idToString);
        jsRuntime.InvokeVoidAsync("showContextMenu", dotNetRef);
        StateHasChanged();
    }

    [JSInvokableAttribute("onPernamentHighlightClickOff")]
    public async void onPernamentHighlightClickOff()
    {
        currentHighlightId = string.Empty;
        currentHighlight = null;
        StateHasChanged();
        //currentHighlightId = idToString;
        //currentHighlight = bookAnalysis.Highlights.FirstOrDefault(h => h.GetElementId() == idToString);
        //await jsRuntime.InvokeVoidAsync("showContextMenu");
    }

    private async void ChangePage(int page)
    {
        currentCount += page;
        await jsRuntime.InvokeVoidAsync("clearDiv", "highlightContainer");
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await jsRuntime.InvokeVoidAsync("setupEvent", "textContainer", dotNetRef);

            if (book is not null)
            {   
                html = book.Resources.Html.ToList();
                css = book.Resources.Css;
                images = book.Resources.Images;
                //fonts = book.Resources.Fonts;
                ////Image cover = book.CoverImage;
                //ICollection<EpubChapter> chapters = book.TableOfContents;

                isLoading = false;
                StateHasChanged();
            }
        }

        Console.WriteLine("ReRender...");
        await jsRuntime.InvokeVoidAsync("clearDiv", "highlightContainer");

        foreach(HighlightModel highlight in bookAnalysis.Highlights)
        {
            if(highlight.PageNumber == currentCount && !await jsRuntime.InvokeAsync<bool>("doesHighlightExist", highlight.GetElementId()))
            {
                //await jsRuntime.InvokeVoidAsync("clearDiv", "highlightContainer");
                await jsRuntime.InvokeVoidAsync("createHighlight2", "textContainer", highlight.FirstNodeIndex, highlight.FirstNodeCharIndex, highlight.LastNodeIndex, highlight.LastNodeCharIndex, dotNetRef, highlight.GetElementId());
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        dotNetRef = DotNetObjectReference.Create(this);
        filteredTags = bookAnalysis.Tags;
    }
}